#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--app-color-primary)aa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em var(--app-color-secondary));
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: var(--app-color-gray);
}
